[package]
name = "tof"
version = "0.1.0"
edition = "2024"

[workspace]

[dependencies]
anyhow = "1"
clap = { version = "4", features = ["derive"] }
colored = "2"
regex = "1"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
serde_yaml = "0.9"
