[alias]
xtask = "run --package xtask --"

# We'd like to set this only if the `tokio-console` feature is enabled, but it
# is not recommended to match on a `cfg` directive that includes features.
# See https://doc.rust-lang.org/cargo/reference/config.html#target.
[build]
rustflags = ["--cfg", "tokio_unstable"]

# Workaround for omicron's bootstore transitive dependency on pq-sys
[env]
DEP_PQ_LIBDIRS = "1"
